<div class="main-div">
  <mat-card style="text-align: center;">
    <mat-card-header style="margin: auto;display: block;">
      <mat-card-title style="margin: auto; text-align: center;">Login</mat-card-title>
    </mat-card-header>
    &nbsp;
    <mat-card-content>
      <form>
        <table class="example-full-width" cellspacing="0">
          <p style="margin-top:20px;">
            Please
              <a style="display: inline;margin-top:10px;padding: 0px;" href="https://fun-and-safe-agile.ngrok.io/sync" class="nav-link">login with Jira</a>
            and then provide the same email address used in the Atlassian portal.
          </p>
          <tr>
            <td>
              <mat-form-field class="example-full-width" style="text-align: center;">
                <input matInput placeholder="Email address" style="margin: auto;" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <p *ngIf="error" class="error">
            {{ error }}
          </p>
        </table>
      </form>
      <mat-spinner [style.display]="true ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="checkLogin()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
