<div>
  <div class="submit-form">
    &nbsp;&nbsp;
    <div *ngIf="!isSubmited">
      <div class="form-group">

        <label for="camBeExploited">Can the functionality available in this story be exploited by outsiders ?</label>
        <mat-slide-toggle style="display: block;"
          id="camBeExploited"
          [(ngModel)]="vote.camBeExploited"></mat-slide-toggle>
      </div>

      <div class="form-group" *ngIf="vote.camBeExploited">
        &nbsp;&nbsp;
        <div>
          <label for="exploitabilityChamce">What is the chance of it happening ?</label>
        </div>
        <div>
          <mat-slider
            thumbLabel
            class="form-control"
            [displayWith]="formatLabel"
            tickInterval="1"
            step="1"
            min="0"
            name="exploitabilityChamce"
            id="exploitabilityChamce"
            [(ngModel)]="exploitabilityChanceNumber"
            max="100"
            aria-label="units">
          </mat-slider>
          <button (click)="skipExploitabilityChance()" mat-stroked-button color="primary">Skip</button>
        </div>

      </div>

      <div class="form-group" *ngIf="vote.camBeExploited">
        &nbsp;&nbsp;
        <div>
          <label for="exploitabilityDamage">How much damage can it do ?</label>
        </div>
        <div>
          <mat-slider
            thumbLabel
            class="form-control"
            [displayWith]="formatLabelDamage"
            tickInterval="1"
            step="1"
            min="0"
            name="exploitabilityDamage"
            id="exploitabilityDamage"
            [(ngModel)]="exploitabilityDamageNumber"
            max="100"
            aria-label="units">
          </mat-slider>
          <button (click)="skipExploitabilityDamage()" mat-stroked-button color="primary">Skip</button>
        </div>

      </div>
      &nbsp;&nbsp;

      <div class="form-group" *ngIf="vote.camBeExploited">
        <label for="effectOn">What would be exploited ?</label>
        <input
          type="text"
          class="form-control"
          id="effectOn"
          required
          [(ngModel)]="vote.effectOn"
          name="effectOn"
        />
      </div>
      &nbsp;&nbsp;

      <div class="form-group" *ngIf="vote.camBeExploited">
        <label for="effectOn">Threat Factor Score</label>
        <section>
          <mat-button-toggle-group [(ngModel)]="threatFactor" aria-label="Font Style">
            <mat-button-toggle value="1">1</mat-button-toggle>
            <mat-button-toggle value="2">2</mat-button-toggle>
            <mat-button-toggle value="3">3</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,255,224);" value="5">5</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,250,205);" value="8">8</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,255,0);" value="13">13</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,165,0);" value="21">21</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,140,0);" value="34">34</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,127,80);" value="55">55</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,69,0);" value="89">89</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(255,0,0);" value="144">144</mat-button-toggle>
            <mat-button-toggle style="background-color: rgb(170,0,0);" value="233">233</mat-button-toggle>
          </mat-button-toggle-group>
        </section>
      </div>

      <button (click)="saveVote()"  style="margin-left: 0px;" *ngIf="vote.camBeExploited" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="isSubmited">
      <h4>Vote was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newVote()">New Vote</button>
    </div>
  </div>
</div>
