<div>
  <div *ngIf="currentIssue.id" class="edit-form">
    <h4>Issue</h4>
    <form>
      <div class="form-group">
        <label><strong>Key:</strong></label>
        {{ currentIssue.identifier }}
      </div>
      <div class="form-group">
        <label for="summary">Summary</label>
        <input
          type="text"
          class="form-control"
          id="summary"
          [(ngModel)]="currentIssue.summary"
          name="summary"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentIssue.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Priority:</strong></label>
        {{ currentIssue.priority }}
      </div>
      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentIssue.status }}
      </div>
    </form>

  </div>

  <div *ngIf="!currentIssue.id">
    <br/>
    <p>Cannot access this Issue...</p>
  </div>
</div>
