<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Atlassian Cloud OAuth2 Integration Demo</h1>

<form th:action="@{/logout}" method="post">
    <button>Logout</button>
</form>

<p>
    <a th:href="@{/myself}">Show "myself" resource from Atlassian Jira Cloud</a>
</p>

</body>
</html>