<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <div class="form-group">
          <label for="identifier">Identifier</label>
          <input
            type="text"
            class="form-control"
            id="identifier"
            required
            [(ngModel)]="issue.identifier"
            name="identifier"
          />
        </div>

        <label for="summary">Summary</label>
        <input
          type="text"
          class="form-control"
          id="summary"
          required
          [(ngModel)]="issue.summary"
          name="summary"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="issue.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <input
          type="text"
          class="form-control"
          id="priority"
          required
          [(ngModel)]="issue.priority"
          name="priority"
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <input
          type="text"
          class="form-control"
          id="status"
          required
          [(ngModel)]="issue.status"
          name="status"
        />
      </div>

      <button (click)="saveIssue()" style="margin-left: 0px;" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Issue was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newIssue()">Add</button>
      <button class="btn btn-success">Vote</button>
    </div>
  </div>
</div>
