<p>
  {{name}} | {{experience}} XP

  <span *ngIf="experience">
      <span *ngIf="experience >= 100 && experience < 200">
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
  </span>
  <span *ngIf="experience >= 200 && experience < 300">
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
  </span>
  <span *ngIf="experience >= 300 && experience < 400">
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
  </span>
  <span *ngIf="experience >= 400 && experience < 500">
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
  </span>
  <span *ngIf="experience >= 500">
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
      <mat-icon aria-hidden="false" style="color:white;">stars</mat-icon>
  </span>
  </span>

</p>
