<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-end">
    <a href="#" *ngIf="isLoggedIn()" class="navbar-brand mx-auto"><app-user></app-user></a>
    <a href="#" *ngIf="!isLoggedIn()" class="navbar-brand mx-auto">Secure Agile Solution</a>

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="issues" class="nav-link">Issues</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a routerLink="add" class="nav-link">Add</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a href="https://fun-and-safe-agile.ngrok.io/sync" class="nav-link">Sync with Jira</a>-->
<!--      </li>-->
      <li class="nav-item">
<!--        <a [routerLink]="" (click)="logOut()" *ngIf="isLoggedIn()" class="nav-link">Logout</a>-->
        <a routerLink="login" *ngIf="!isLoggedIn()" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
<!--        <a (click)="logOut()" *ngIf="isLoggedIn()" class="nav-link">Logout</a>-->
        <a [routerLink]="" (click)="logOut()" *ngIf="isLoggedIn()" class="nav-link">Logout</a>

      </li>

    </div>
  </nav>


  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
