<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by summary"
        [(ngModel)]="summary"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchSummary()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Issue List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let issue of issues; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveIssue(issue, i)"
      >
        {{ issue.identifier }}   {{ issue.summary }}
      </li>
    </ul>

<!--    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllIssues()">-->
<!--      Remove All-->
<!--    </button>-->
  </div>
  <div class="col-md-6">
    <div *ngIf="currentIssue">
      <h4>Issue</h4>
      <div>
        <label><strong>Summary:</strong></label> {{ currentIssue.summary }}
      </div>
      <div>
        <label><strong>Key:</strong></label>
        {{ currentIssue.identifier }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentIssue.status }}
      </div>
      <div>
        <label><strong>Priority:</strong></label>
        {{ currentIssue.priority }}
      </div>
      <div>
        <label><strong>Threat factor:</strong></label>
        {{ currentIssue.threatFactor != null ? currentIssue.threatFactor : "na" }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentIssue.description }}
      </div>
      <app-vote [issue]="currentIssue"></app-vote>
    </div>


    <div *ngIf="!currentIssue">
      <br/>
      <p>Please choose an Issue or sync with Jira</p>
    </div>
  </div>
</div>
